.container {
  .details {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: "Urbanist", sans-serif;
    display: flex;
    margin-top: 51px;
    .img-details {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

//  info about product

.product-info {
  margin-left: 50px;
  .navlink {
    margin-bottom: 18px;
    display: flex;
    text-transform: uppercase;
    color: rgba($color: #242424, $alpha: 0.5);
    a {
      text-decoration: none;
      color: rgba($color: #242424, $alpha: 0.5);
      padding-right: 12px;
    }
  }

  // product name

  .products-name {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    // justify-content: space-between;
    h1 {
      font-weight: 550;
      font-size: 30px;
    }
    p {
      font-size: 19px;
    }
  }

  // product price

  .price-section {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    .price {
      font-size: 18px;
      color: rgba($color: #242424, $alpha: 0.7);
    }
    .sale {
      background-color: #ccc10b;
      color: #fff;
      padding: 3px 5px;
      font-size: 12px;
    }
  }
  .availability {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .availabil {
      font-weight: 500;
      font-size: 17px;
    }
    .av {
      color: rgb(0, 152, 0);
      font-weight: 500;
    }
  }
  .description {
    font-size: 15px;
    color: rgba($color: #242424, $alpha: 0.7);
    line-height: 32px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  
  // add-section
  
  .add-section {
    margin: 30px 0;
    
    button {
      cursor: pointer;
      font-size: 17px;
      color: #fff;
      border: none;
    }
    .addBtn {
      background-color: #242424;
      padding: 12px 35px;
      margin-right: 15px;
    }
    .buyBtn {
      padding: 12px 20px;
      background-color: #ccc10b;
    }
  }
  // size section

  .size-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
    .size {
      border: 1px solid #242424;
      padding: 3px 12px;
      margin: 0 10px;
      transition: all 0.5s;
      &:hover {
        border: 1px solid #ccc10b;
      }
    }
  }
  
  // color section
  .size-section {
    p {
      margin-right: 20px;
    }
    img {
      width: 7%;
      padding: 0 5px;
    }
  }
  // social-media section

  .share {
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .social-media {
      font-size: 17px;
      margin-bottom: 15px;
      i {
        margin-left: 15px;
      }
      .fa-facebook-f {
        color: rgb(0, 0, 158);
      }
      .fa-twitter {
        color: rgb(0, 145, 255);
      }
      .fa-instagram {
        color: rgb(247, 74, 0);
      }
      .fa-pinterest-p {
        color: rgb(169, 0, 0);
      }
    }
    .payment {
      font-size: 20px;
      padding-right: 15px;
    }
  }
}
