.mainHeader {
  padding: 12px 25px;
  background: transparent;
  // text-align: center;
}
.main-block {
  padding: 16px;
  max-width: 900px;
  margin: 0 auto;
  font-size: 18px;
}
.fixedTop {
  width: 98%;
  padding: 12px 18px;
  position: fixed;
  z-index: 3;
  top: 0;
  background: #fff;
}
.fixedTop + .main-block {
  padding-top: 102px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .navBar {
    ul {
      display: flex;
      column-gap: 25px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #0a0a23;
        }
      }
    }
  }
  .icon {
    color: #0a0a23;
    padding: 0 15px;
    font-size: 17px;
  }
}

.shop {
  display: flex;
}

.shop {
  display: flex;
  padding: 10px 35px;
  background-color: #fff;
  .categoriesOne {
    background-color: #fff;
    .menu {
      background-color: #fff;
      .yellow {
        color: #ccc10b;
        font-weight: 600;
      }
    }
    .bold{
      font-weight: 600;
    }
  }
  .categoriesTwo {
    background-color: #fff;
    .menu {
      background-color: #fff;
      .yellow {
        color: #ccc10b;
        font-weight: 600;
      }
    }
  }
  .categoriesThird {
    background-color: #fff;
    .menu {
      background-color: #fff;
      .yellow {
        color: #ccc10b;
        font-weight: 600;
      }
    }
  }
}
