body {
  font-family: "Urbanist", sans-serif;
  background-color: #f5f5f3;
}
.home {
  // background-image: url("../../images/bg-img.webp");
  // box-sizing: border-box;
  .image {
    position: absolute;
    width: 100%;
    left: 0%;
    top: -22%;
    z-index: -2;
  }
  .main-text {
    text-align: center;
    position: relative;
    .gradient {
      padding-top: 30px;
      font-family: "Sacramento", cursive;
      font-weight: 400;
      font-style: italic;
      font-size: 135px;
      color: transparent;
      background-clip: text;
      background-image: linear-gradient(120deg, #7f9ad1, #ccc10b);
    }
    .decor {
      position: absolute;
      left: 36%;
      top: 42%;
      font-size: 120px;
      color: #2c3039;
    }
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;

    // Home decore and  tableware links section

    .second-section {
      display: flex;
      // flex-wrap: wrap;
      margin-top: 220px;
      .box {
        width: 50%;
        a {
          text-decoration: none;
        }
        .img-container {
          width: 80%;
          height: 550px;
          overflow: hidden;
          position: relative;
          margin-top: 120px;
          .img-holder {
            width: 100%;
            height: 100%;
            background: url(../../images/banner-images-02.webp);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.35s;
            &:hover {
              transform: scale(1.1);
            }
          }
          .plus {
            position: absolute;
            z-index: 2;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #fff;
            .fa-plus {
              margin-left: 22px;
              margin-top: 20px;
              color: #ccc10b;
            }
          }
        }
        .block {
          margin-left: 520px;
          margin-top: -180px;
          .vertical-rl {
            writing-mode: vertical-lr;
            font-size: 25px;
            color: #000;
          }
        }
      }
      .box2 {
        width: 50%;
        a {
          text-decoration: none;
        }
        .img2-container {
          width: 80%;
          height: 90%;
          overflow: hidden;
          position: relative;
          margin-left: 190px;
          .img2-holder {
            width: 100%;
            height: 100%;
            background: url(../../images/banner-images-01.webp);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.35s;
            &:hover {
              transform: scale(1.1);
            }
          }
          .plus {
            position: absolute;
            z-index: 2;
            width: 60px;
            height: 60px;
            bottom: 40px;
            left: 40px;
            background-color: #fff;
            .fa-plus {
              margin-left: 22px;
              margin-top: 20px;
              color: #ccc10b;
            }
          }
        }
        .block {
          margin-left: 130px;
          margin-top: -180px;
          .vertical-rl {
            writing-mode: vertical-lr;
            font-size: 25px;
            color: #000;
          }
        }
      }
      padding-bottom: 150px;
    }
    @media only screen and (max-width: 773px) {
      .second-section {
        display: flex;
        flex-wrap: wrap;
      }
    }

    // Date information section

    .third-section {
      display: flex;
      .info {
        width: 50%;
        .gradient2 {
          font-family: "Sacramento", cursive;
          font-weight: 400;
          font-style: italic;
          font-size: 45px;
          color: transparent;
          background-clip: text;
          background-image: linear-gradient(#7f9ad1, #ccc10b);
        }
        .date {
          font-size: 55px;
          font-weight: 700;
          color: #2c3039;
        }
      }

      .text {
        width: 50%;
        .textwith {
          width: 90%;
          font-size: 23px;
          line-height: 35px;
          color: rgba($color: #000000, $alpha: 0.5);
          margin-left: 27px;
        }
        .right {
          a {
            text-decoration: none;
          }
          .story-line {
            margin-top: 50px;
            margin-left: 30px;
            display: flex;
            align-items: center;
            .line {
              width: 50px;
              height: 2px;
              background-image: linear-gradient(to right, #7f9ad1, #ccc10b);
            }
            p {
              padding: 0 10px;
              font-weight: 600;
              color: #000;
            }
          }
        }
      }
      padding-bottom: 90px;
    }
  }

  .btn-2 {
    text-align: center;
    margin-bottom: 70px;
  }

  // Section four

  .four-section {
    display: flex;
    margin-top: 140px;
    .box3 {
      a {
        text-decoration: none;
      }
      .img3-container {
        width: 490px;
        height: 550px;
        overflow: hidden;
        position: relative;
        margin-top: -15px;
        .img3-holder {
          width: 100%;
          height: 100%;
          background: url(../../images/banner-images-03.webp);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.35s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .plus {
          position: absolute;
          z-index: 2;
          width: 60px;
          height: 60px;
          bottom: 40px;
          right: 40px;
          background-color: #fff;
          .fa-plus {
            margin-left: 22px;
            margin-top: 20px;
            color: #ccc10b;
          }
        }
      }
      .block {
        margin-left: 520px;
        margin-top: -180px;
        .vertical-rl {
          writing-mode: vertical-lr;
          font-size: 25px;
          color: #000;
        }
      }
    }
    .box4 {
      .text2 {
        width: 55%;
        .textwith {
          width: 100%;
          font-size: 25px;
          line-height: 29px;
          margin-left: 190px;
          margin-bottom: 70px;
        }
        .right2 {
          a {
            text-decoration: none;
          }
          .real-passion {
            margin-bottom: 23px;
            margin-left: 190px;
            display: flex;
            align-items: center;
            .line {
              width: 30%;
              height: 3px;
              background-image: linear-gradient(to right, #7f9ad1, #ccc10b);
            }
            p {
              padding: 0 10px;
              font-weight: 600;
              color: #000;
            }
          }
        }
      }
      a {
        text-decoration: none;
      }
      .img4-container {
        width: 490px;
        height: 550px;
        overflow: hidden;
        position: relative;
        margin-left: 190px;
        .img4-holder {
          width: 100%;
          height: 100%;
          background: url(../../images/banner-images-04.webp);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.35s;
          &:hover {
            transform: scale(1.1);
          }
        }
        .plus {
          position: absolute;
          z-index: 2;
          width: 60px;
          height: 60px;
          bottom: 40px;
          left: 40px;
          background-color: #fff;
          .fa-plus {
            margin-left: 22px;
            margin-top: 20px;
            color: #ccc10b;
          }
        }
      }
      .block {
        margin-left: 130px;
        margin-top: -180px;
        .vertical-rl {
          writing-mode: vertical-lr;
          font-size: 25px;
          color: #000;
        }
      }
    }
    padding-bottom: 190px;
  }

  // five section. text

  .five-section {
    display: flex;
    margin-bottom: 120px;
    padding-bottom: 110px;
    border-bottom: 1px solid rgba($color: #313131, $alpha: 0.1);
    p {
      font-weight: 600;
      margin-bottom: 30px;
      font-size: 16px;
    }
    span {
      width: 50%;
      color: rgba($color: #000000, $alpha: 0.5);
      font-size: 15px;
      line-height: 28px;
    }
  }

  // blog section

  .blog_post {
    h1 {
      color: #2c3039;
      font-size: 40px;
      margin-bottom: 50px;
    }
  }

  // .last-section{
  //   display: flex;
  //   justify-content: space-between;
  //   margin-top: 55px;
  //   .card {
  //     a {
  //       text-decoration: none;
  //     }
  //     .card-container {
  //       width: 370px;
  //       height: 290px;
  //       overflow: hidden;
  //       position: relative;
  //       .card-img-holder {
  //         width: 100%;
  //         height: 100%;
  //         background: url(../../images/art-store-blog-01.webp);
  //         background-position: center;
  //         background-size: cover;
  //         background-repeat: no-repeat;
  //         transition: all 0.35s;
  //         &:hover {
  //           transform: scale(1.1);
  //         }
  //       }
  //     }
  //   }
  //   .card2 {
  //     a {
  //       text-decoration: none;
  //     }
  //     .card2-container {
  //       width: 370px;
  //       height: 290px;
  //       overflow: hidden;
  //       position: relative;
  //       .card2-img-holder {
  //         width: 100%;
  //         height: 100%;
  //         background: url(../../images/art-store-blog-02.webp);
  //         background-position: center;
  //         background-size: cover;
  //         background-repeat: no-repeat;
  //         transition: all 0.35s;
  //         &:hover {
  //           transform: scale(1.1);
  //         }
  //       }
  //     }
  //   }
  //   .card3 {
  //     a {
  //       text-decoration: none;
  //     }
  //     .card3-container {
  //       width: 370px;
  //       height: 290px;
  //       overflow: hidden;
  //       position: relative;
  //       .card3-img-holder {
  //         width: 100%;
  //         height: 100%;
  //         background: url(../../images/art-store-blog-03.webp);
  //         background-position: center;
  //         background-size: cover;
  //         background-repeat: no-repeat;
  //         transition: all 0.35s;
  //         &:hover {
  //           transform: scale(1.1);
  //         }
  //       }
  //     }
  //   }
  // }

  padding-bottom: 150px;
}
