
.container{
    .cup-img{
        position: relative;
        img{
            width: 100%;
        }
        .text{
            position: absolute;
            top: 32%;
            left: 35%;
            color: #fff;
            font-size: 18px;
            a{
                text-decoration: none;
                color: #fff;
            }
            .homelink{
                border-right: 2px solid #fff;
                padding: 0 7px;
                margin-left: 75px;
            }
            .acc{
                padding-left: 7px;
            }
            p{
                margin-top: 25px;
                font-size: 50px;
            }
        }
    }
}